<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Error:</h1>

    <p>{{error}}</p>

    <a href="/">Back to the Main Page.</a>

</body>
</html>