<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Logged Out</h1>

    <p>You have been Logged Out Successfully!</p>

    <a href="/">Back to the Main Page.</a>

</body>
</html>